@use "../abstracts/" as *;

.backgroundImage {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.container {
  position: relative;
  z-index: 2;
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: 50% 50%;

  @media (max-width: 1075px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .description {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    @media (max-width: 1075px) {
      height: auto;
      justify-content: center;
      margin-top: 140px;
    }
  }

  .descriptionWrapper {
    margin-right: 14.5%;
    margin-bottom: 14.5%;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (max-width: 1075px) {
      margin-right: 0;
      margin-bottom: 0;
      gap: 0;
    }
  }

  h5 {
    @include heading05();
    max-width: 450px;
  }

  h1 {
    @include heading01();
    max-width: 450px;
  }

  p {
    @include body-txt();
    max-width: 450px;
  }

  .buttonWrapper {
    display: flex;
    align-items: flex-end;

    @media (max-width: 1075px) {
      display: block;
      margin-top: 32px;
    }
  }

  a {
    margin-left: 19.5%;
    margin-bottom: 14.5%;

    @media (max-width: 1075px) {
      margin-left: 0;
      margin-bottom: 0;
    }
  }

  button {
    @include main-button();
  }
}
