@use "../abstracts/" as *;

.container > * {
  height: 445px;
  width: 445px;

  @include for-tablet-and-down {
    height: 300px;
    width: 300px;
  }

  @include for-phone-only {
    height: 170px;
    width: 170px;
  }
}
