@use "./abstracts/" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $dark-clr;
}

.backgroundImage {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
